Package: com.jmukes97.EmergencyRespring
Name: EmergencyRespring
Version:0.0.1
Architecture: iphoneos-arm
Description: A small simple script that is used for emergency respring when you only have ssh accsess. Just in a terminal type 'EmergencyRespring'
Maintainer: Jmukes97
Author: Jmukes97
Section: System
